html,
body {
    height: 100%;
}

:root {
    --color-1: #222;
    --color-2: #444;
    --color-3: #eee;
    --color-4: #bbb;
    --color-5: #888;
    --color-6: #6e6e6e;
}

body {
    background-color: var(--color-1);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    color: var(--color-4);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* track */
::-webkit-scrollbar-track {
    background: var(--color-2);
}

/* handle */
::-webkit-scrollbar-thumb {
    background: var(--color-6);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-6);
}


/* make element not selectable */
.unselectable,
#functions,
#functions *,
#preview {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


button,
input[type=search] {
    padding: 5px;
    background-color: var(--color-2);
    border: 1px solid var(--color-3);
}


.row,
.column#rightColumn {
    width: 100%;
    height: 100%;
    display: flex;
}

.column#leftColumn {
    min-width: 10%;
    max-width: 90%;
    margin-bottom: 40px;
    overflow-y: scroll;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
}

.column#rightColumn {
    flex-grow: 0;
    flex-shrink: 1;
    overflow-x: auto;
}

.column#resizeArea {
    width: 0.25rem;
    margin: 0 0 0 auto;
    background: var(--color-6);
    flex-grow: 0;
    flex-shrink: 0;
    cursor: col-resize;
}


ul {
    display: none;
}

ul.visible {
    display: block;
    width: 100%;
    padding: 5px;
}


li {
    /* display: none; */
    padding: 8px 5px;
    border-top: 2px solid var(--color-6);
    cursor: pointer;
}

li.visible {
    display: list-item;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-6);
}

li.folder {
    background-color: var(--color-2);
}



iframe#preview {
    width: 100%;
    height: 100%;
    border: 0;
}



div#menu {
    padding-top: 5px;
    text-align: center;
}

div#menu * {
    border: 0;
    outline: none;
}



div#functions {
    min-width: 10%;
    max-width: 90%;
    padding: 6px;
    background-color: var(--color-1);
    border-top: 2px solid var(--color-6);
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    overflow-x: auto;
}

div#functions * {
    border: 0;
    outline: none;
}

div#functions #searchInput {
    width: 140px;
}

div#functions #closeOverview,
div#functions #openOverview {
    padding: 4px 8px;
}

div#functions #newTab,
div#functions #newTabFile,
div#functions #searchInput,
div#functions #copyTitle,
div#functions #copyFilePath,
div#functions #copyFolderPath {
    margin-left: 5px;
}



ul#recentUL.visible :first-child,
ul#favouriteUL.visible :first-child {
    display: list-item;
    background-color: var(--color-2);
}